# Association Rules- (My_Movies)

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [2]:
df=pd.read_csv("my_movies.csv")
df.head()

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0

# Pre-Processing

In [5]:
df=pd.get_dummies(df)
df.head()

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V2_LOTR,V2_LOTR1,V2_LOTR2,V2_Patriot,V3_Braveheart,V3_Gladiator,V3_Harry Potter1,V3_Sixth Sense,V4_Green Mile,V5_LOTR2
0,1,0,1,1,0,1,0,0,0,1,...,0,1,0,0,0,0,1,0,1,1
1,0,1,0,0,1,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,0
2,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0

# Apriori Algorithm

In [10]:
import warnings
warnings.filterwarnings('ignore')

In [11]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0         0.6                                      (Sixth Sense)
1         0.7                                        (Gladiator)
2         0.2                                            (LOTR1)
3         0.2                                    (Harry Potter1)
4         0.6                                          (Patriot)
...       ...                                                ...
1392      0.1  (Harry Potter1, Green Mile, V1_Sixth Sense, Si...
1393      0.1  (V1_Sixth Sense, Green Mile, Sixth Sense, V4_G...
1394      0.1  (Harry Potter1, Green Mile, V1_Sixth Sense, Si...
1395      0.1  (Harry Potter1, Green Mile, V1_Sixth Sense, V4...
1396      0.1  (Harry Potter1, Green Mile, V1_Sixth Sense, Si...

[1397 rows x 2 columns]

In [13]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
2,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
3,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
4,(Harry Potter1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
...,...,...,...,...,...,...,...,...,...
64247,(V5_LOTR2),"(Harry Potter1, Green Mile, V1_Sixth Sense, Si...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64248,(V2_LOTR1),"(Harry Potter1, Green Mile, V1_Sixth Sense, Si...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64249,(LOTR2),"(Harry Potter1, Green Mile, V1_Sixth Sense, Si...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64250,(LOTR1),"(Harry Potter1, Green Mile, V1_Sixth Sense, Si...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64251,(V3_Harry Potter1),"(Harry Potter1, Green Mile, V1_Sixth Sense, Si...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf

In [16]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
32126,"(V5_LOTR2, Harry Potter1, LOTR2, LOTR1)","(Green Mile, Sixth Sense, V3_Harry Potter1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42207,"(V5_LOTR2, Harry Potter1, V2_LOTR1, LOTR1)","(Green Mile, V1_Sixth Sense, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42195,"(V5_LOTR2, Harry Potter1, Green Mile, LOTR2)","(V1_Sixth Sense, V2_LOTR1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42196,"(V5_LOTR2, Harry Potter1, Green Mile, LOTR1)","(V1_Sixth Sense, V2_LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42197,"(Harry Potter1, Green Mile, V2_LOTR1, LOTR2)","(V5_LOTR2, V1_Sixth Sense, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42198,"(Harry Potter1, Green Mile, V2_LOTR1, LOTR1)","(V5_LOTR2, V1_Sixth Sense, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42199,"(Harry Potter1, Green Mile, LOTR2, LOTR1)","(V5_LOTR2, V1_Sixth Sense, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42200,"(V5_LOTR2, Harry Potter1, V1_Sixth Sense, V2_L...","(Green Mile, LOTR2, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42201,"(V5_LOTR2, Harry Potter1, V1_Sixth Sense, LOTR2)","(Green Mile, V2_LOTR1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42202,"(V5_LOTR2, Harry Potter1, V1_Sixth Sense, LOTR1)","(Green Mile, V2_LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42203,"(Harry Potter1, V1_Sixth Sense, V2_LOTR1, LOTR2)","(V5_LOTR2, Green Mile, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42204,"(Harry Potter1, V1_Sixth Sense, V2_LOTR1, LOTR1)","(V5_LOTR2, Green Mile, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42205,"(Harry Potter1, V1_Sixth Sense, LOTR2, LOTR1)","(V5_LOTR2, Green Mile, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42206,"(V5_LOTR2, Harry Potter1, V2_LOTR1, LOTR2)","(Green Mile, V1_Sixth Sense, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42208,"(V5_LOTR2, Harry Potter1, LOTR2, LOTR1)","(Green Mile, V1_Sixth Sense, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42222,"(V5_LOTR2, V1_Sixth Sense, LOTR2, LOTR1)","(Harry Potter1, Green Mile, V2_LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42209,"(Harry Potter1, V2_LOTR1, LOTR1, LOTR2)","(V5_LOTR2, Green Mile, V1_Sixth Sense)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42210,"(V5_LOTR2, Green Mile, V1_Sixth Sense, V2_LOTR1)","(Harry Potter1, LOTR2, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42211,"(V5_LOTR2, Green Mile, V1_Sixth Sense, LOTR2)","(Harry Potter1, V2_LOTR1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
42212,"(V5_LOTR2, Green Mile, V1_Sixth Sense, LOTR1)","(Harry Potter1, V2_LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [21]:
rules[rules.lift>1].head(100)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
1,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
6,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
7,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
10,(LOTR),(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
...,...,...,...,...,...,...,...,...,...
107,(Patriot),(V3_Sixth Sense),0.6,0.4,0.4,0.666667,1.666667,0.16,1.8
108,(Green Mile),(LOTR2),0.2,0.2,0.1,0.500000,2.500000,0.06,1.6
109,(LOTR2),(Green Mile),0.2,0.2,0.1,0.500000,2.500000,0.06,1.6
110,(V1_LOTR1),(LOTR2),0.1,0.2,0.1,1.000000,5.000000,0.08,inf
111,(LOTR2),(V1_LOTR1),0.2,0.1,0.1,0.500000,5.000000,0.08,1.8